.Input {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #EFF5FB;
    width: 94%;
    margin: auto;
    padding: 1rem;
    align-content: stretch;
    justify-content: space-around;
}

.Input .Field {
    box-sizing: border-box;
    background-color: white;
    border: none;
    border-bottom: 3px solid #0489B1;
    padding: 0.7rem;
    margin: 0.5rem 0.2rem;
    font-size: 1.3rem;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 4.5rem;
}

.Field:focus{
    outline: thin dotted;
}

.Location {
    flex: 100%;
}

.Search {
    flex: 100%;
    background-color: #0489B1;
    outline: none;
    font-size: 1.3rem;
    font-family: 'Nunito', sans-serif;
    border: none;
    padding: 0.7rem;
    margin: 0.5rem 0.2rem;
    color: white;
    height: 4.5rem;
}

.Date {
    flex: 100%;
    align-content: left;
}

.Room {
    flex: 45%;
}


@media screen and (min-width: 480px) {
    .Date {
        flex: 45%;
    }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {
    .Input {
        width: 900px;
        justify-content: flex-start;
        align-content: flex-start;
    }

    .Input .Field {
        height: 5rem;
    }

    .Location {
        flex: 40%;
    }

    .Date {
        flex: 25%;
    }

    .Room {
        flex: 25%;
    }

    .Search {
        flex: 25%;
        height: 5rem;
    }

}

@media screen and (min-width: 1280px) {}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}