.Row {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-around;
    width: 100%;
}

.Button {
    flex: 5%;
    border: none;
    background-color: white;
    color: #0489B1;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 50%;
    cursor: pointer;
}

.Button:hover,
.Button:focus {
    outline: 0;
    background-color: #EFF5FB;
}

.Disabled, .Disabled:hover{
    background-color: white;
    color: gray;
    cursor: not-allowed;
}


.InputField {
    flex: 30%;
    font-size: 1.3rem;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    border: none;
    outline: 0;
    padding-top: 6%;
    width: 50%;
    cursor: default;
}

.Label {
    position: absolute;
    top: 0;
    left: 2px;
    font-size: 0.8rem;
    font-weight: 600;
    color: #0489B1;
    text-align: center;
    font-family: 'Goldman', cursive;
}