.Row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-around;
    width: 100%;
    position: relative;
}

.Button {
    flex: 5%;
    border: none;
    background-color: white;
    color: #0489B1;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.Disabled {
    color: gray;
}


.InputField {
    flex: 50%;
    font-size: 1.3rem;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    border: none;
    outline: 0;
    padding-top:6% ;
    width: 50%;
}

.Label {
    position: absolute;
    top: 0;
    left: 2px;
    font-size: 0.8rem;
    font-weight: 600;
    color: #0489B1;
    text-align: center;
    font-family: 'Goldman', cursive;
}