.NavItem {
    margin: auto;
    padding-left: 10px;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavItem svg {
    height: inherit;
    width: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
    /* padding: 1px; */
    border-bottom: 2px solid transparent;

}

.NavItem a {
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-weight: bolder;
    padding: 16px 10px;
    /* border-bottom: 2px solid #0489B1; */

}

.NavItem a:active,
.NavItem a.active,
.NavItem a:hover {
    color: #0489B1;
    /* border-bottom: 4px solid #0489B1; */
    background-color: #ffffff;
}





@media (min-width: 500px) {
    .NavItem {
        margin: 0;
        display: flex;
        height: 100%;
        align-items: center;
        width: auto;
    }

    .NavItem a {
        height: 100%;
        width: auto;
        font-weight: inherit;
    }
}