.Suggestions {
    width: 55%;
    /*background-color: #F0F8FF;*/
    /*display: flex;*/
    /*flex-flow: column;*/
    align-items: center;
    /*box-shadow: 0 2px 1px #ccc;*/
    margin: 0px 10px 0px 10px;
    padding: 0px 5px 5px 5px;
}

.Suggestions button{
    /*display: flex;*/
}

.SecondSuggestion {
    width: 40%;
    border: 1px solid #6495ED;
    margin-top: 8px;
    padding-bottom: 12px;
}


.LowestSuggestion {
    background-color: #F0F8FF;
}

.LowestSuggestion h3 {
    color: #6495ED;
}

.LowestSuggestion button {
    background-color: #6495ED;
    color: #F0F8FF;
    border: none;
    border-radius: 3px;
}
